.white-background{
    -fx-background-color: #fff;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}
.round-layout{
    -fx-border-radius: 50;
    -fx-border-color: #2c66ab;
}

.card-container {
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 4);
    -fx-padding: 20;
    -fx-border-color: #e0e0e0;
}

.card-name {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 16px;
    -fx-text-fill: #333;
}

.card-grade {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 13px;
    -fx-text-fill: #777;
}
.shadow {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.3, 0, 4);
    -fx-padding: 10;
    -fx-border-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 8, 0.3, 0, 4);  /* Ombre sur la bordure */
}

.rounded {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
}

.title-label {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.label-sub {
    -fx-font-family: "Berlin Sans FB";
    -fx-font-size: 14px;
    -fx-text-fill: #34495e;
}

.label-info {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #555;
}

.image-style {
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0.3, 0, 2);
}
